*{
    margin: 100;
    padding: 0;
}
body{
    text-align: center;
}
form button{
    cursor: pointer;
    color: white;
    background-color: grey;
    width: 500px;
    height: 40px;
}
form button a:hover{
    color: #49fc03;
}
body{
    text-decoration-color: #49fc03;
}
h1{
    width: 100%;
    color: white;
}
body{
    background-image: url(heaven.jpg);
    width: fixed;
}
input name{
    border: #49fc03;
}
nav a:hover{
    color: #49fc03;
}